@import "tailwindcss";

/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font: "Manrope", sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font);
}

h1,
h2,
h3,
h4,
p {
  font-family: var(--font);
}

/* Skjul scrollbar på mobilen */
section::-webkit-scrollbar {
  display: none; /* Skjuler scrollbaren */
}

section {
  -ms-overflow-style: none; /* For IE og Edge */
  scrollbar-width: none; /* For Firefox */
}
